.conMainHomePage[data-hp001] {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.listToDo[data-hp001] {
    width: 100%;
    position: fixed;
    z-index: 2;
    margin-top: 3.7rem;
    height: 3.8rem;
    max-height: 3.7rem;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
}

.conList{
    width: 75rem;
    display: flex;
    align-items: center;
    margin: auto;
    padding-inline: 3rem;
}

li[data-hp001],
li[data-hp002] {
    list-style: none;
    height: 1.2rem;
    max-height: 3.7rem;
    padding: 1.2rem 1rem;
    outline-style: none;
    border-bottom: 2px solid white;
}

li[data-hp002] {
    border-radius: 30px;
    padding: 0.6rem 0.5rem;
    margin: 0.6rem 0.5rem;
    display: flex;
    align-items: center;
}

li[data-hp002]:hover {
    background-color: #f0f0f0;
}

.conPopList[data-hp001] {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    left: 0;
    top: 7.45rem;
    width: 100%;
    padding-left: 12rem;
    padding-right: 10rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.11);
    background-color: white;
}

.easeListTodo[data-hp003] {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.7rem;
    border-radius: 10px;
    padding-left: 0.5rem;
    width: 15.3rem;
    max-block-size: 4rem;
    cursor: pointer;
    height: 4rem;
}

.imgListTodo {
    border-radius: 50%;
    border: 1px solid rgb(255, 47, 47);
}

.conUl {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 87.5vw;
    max-block-size: 21.5rem;
}

.conOver {
    overflow-y: scroll;
}

.conExplore {
    max-block-size: 30rem;
}

.easeListTodo[data-hp003]:hover {
    background-color: #f3f3f3;
}

.pTextThingtodo {
    color: #b3b3b3;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.pListThingTodo {
    padding: 0;
    margin: 0;
}

.listToDo1,
.listToDo2,
.listToDo3,
.listToDo4 {
    transition: border-bottom 0.3s;
}

.listToDo1:hover .list1,
.listToDo2:hover .list2,
.listToDo3:hover .list3,
.listToDo4:hover .list4 {
    visibility: visible;
    opacity: 1;
}

.listToDo1:hover,
.listToDo2:hover,
.listToDo3:hover,
.listToDo4:hover {
    border-bottom: 2px solid #ff6600;
}

.easeConExplore {
    display: flex;
    flex-direction: column;
    width: 22%;
    padding: 0rem 1rem;
    margin-block: 1.5rem;
}

.lineEase {
    border-right: 1px solid #f0f0f0;
}

.listTTD {
    display: flex;
    flex-direction: column;
}

.listTTD a {
    text-decoration: none;
    color: black;
    padding: 0.6rem 0.5rem;
    border-radius: 10px;
}

.headExplore {
    margin: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.listTTD a:hover {
    background-color: #f3f3f3;
}

.conBanner {
    position: relative;
    z-index: 1;
    margin-top: 7.4rem;
    width: 100%;
    height: 30rem;
    color: white;
}

.slider-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.slider-track {
    display: flex;
    height: 30rem;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 30rem;
    background-position: center;
    background-size: cover;
}

.gradiant-card {
    position: absolute;
    height: 30rem;
    width: 7rem;
    top: 0;
}

.left {
    left: 0;
    background: linear-gradient(to right, #00000060, #00000000);
}

.right {
    right: 0;
    background: linear-gradient(to left, #00000060, #00000000);
}


.prevnext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prevbanner, .nextbanner {
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
}

.ddesdw {
    position: relative;
    height: 30rem;
    width: 72.9rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
    padding-left: 5rem;
}

.ddesdw .h2 {
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.ddesdw .p {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.conSearchBanner {
    margin-top: 0.7rem;
    position: relative;
    z-index: 20;
    width: 49rem;
    height: 3rem;
}

.inputSearch {
    position: relative;
    padding-left: 3rem;
    height: 3rem;
    width: 46rem;
    border-radius: 10px;
    outline-style: none;
    font-size: 20px;
    border-style: none;
    z-index: 19;
}

.iconSearch2 {
    position: absolute;
    top: 1.57rem;
    transform: translateY(-50%);
    left: 0.9rem;
    color: #b8b8b8;
    font-size: 20px;
    z-index: 20;
}

.btn-search {
    position: absolute;
    z-index: 30;
    right: 0rem;
    top: 1.57rem;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff6600;
    padding: 0.8rem 2.95rem;
    border-radius: 8px;
    outline-style: none;
    border-style: none;
    text-decoration: none;
}

.image-box {
    width: 23.3rem;
    height: 10rem;
    border-radius: 13px;
    transition: 0.3s;
    background-size: cover;
}

.conAllHomepage {
    display: flex;
    flex-direction: column;
}

.conAllHomepage h2{
    margin: 4rem 0 2rem 0;
    font-size: 28px;
}

.header-wraper001 {
    position: relative;
    overflow: hidden;
    height: 10rem;
    padding-top: 0.5rem;
}

.conHomePage001{
    position: relative;
    display: flex;
    gap: 1.17rem;
}

.prevnext2{
    font-size: 16px;
    border-radius: 50%;
    border: 1.5px solid #e2e2e2;
    padding: 0.5rem 0.75rem;
}

.prev{
    left: -3rem;
}
.next{
    right: -3rem;
}

.prevnext2:hover{
    box-shadow: -4px 4px 10px #00000010;
}

.conHomepage{
    width: 72.9rem;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.con{
    position: relative;
    width: 72.9rem;
    margin: auto;
    padding-inline: 5rem;
}
.easeCon002{
    width: 25%;
    padding: 0.5rem;
}

.easeCon002 h3{
    font-size: 20px;
    margin-bottom: 0;
}

.conHomepage003{
    position: relative;
    height: 24rem;
    overflow: hidden;
    display: flex;
    gap: 1.4rem;
    padding-top: 0.5rem;
}

.easeCon003{
    display: flex;
    flex-direction: column;
    min-width: 17rem;
    max-width: 17rem;
    height: 23rem;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    transition: 0.3s;
    overflow: hidden;
}

.easeCon003-1{
    width: 17rem;
    height: 53%;
    background-repeat: no-repeat;
}

.easeCon003-2{
    position: relative;
    height: 47%;
    margin: 0.5rem 1rem;
}

.easeCon003-2 li{
    list-style-position: inside; /* ให้จุดอยู่ด้านใน ไม่ห่างจากข้อความ */
}

.btn-003{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    height: 2.2rem;
    width: 20rem;
    border-radius: 7px;
    outline-style: none;
    background-color: white;
    border: 1px solid #212121;
    cursor: pointer;
    font-weight: 700;
    color: #212121;
}

.easeCon004{
    position: relative;
    padding: 1.5rem;
    width: 20rem;
    height: 21rem;
    border-radius: 10px;
    border: 1px solid #cecece;
    transition: 0.3s;
}

.cardGradient004{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(180deg, #ff88001c, #ff880000);
}

.easeCon004 h3{
    height: 4rem;
    border-bottom: 1px solid #ff660069;
}

.easeCon004-1-1{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.imgCon4{
    min-width: 4.2rem;
    height: 4.2rem;
    border-radius: 7px;
    border: 1px solid red;
}

.TextCon4 h5{
    font-weight: 400;
    font-size: 15px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.TextCon4 p{
    color: #ff9735;
    font-size: 13px;
    margin: 0;
}

.image-box:hover, .easeCon003:hover, .easeCon004:hover, .easeCon005:hover, .easeCon006:hover, .easeCon007:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #e2e2e2;
    cursor: pointer;
}

.easeCon005{
    position: relative;
    width: 50%;
    height: 18rem;
    border-radius: 10px;
    border: 1px solid red;
    padding: 1.5rem;
    transition: 0.3s;
}

.easeCon005 h3{
    font-size: 26px;
    margin-top: 0;
}

.easeCon005 p{
    font-size: 14px;
    width: 50%;
}

.btn-ease005{
    position: absolute;
    font-size: 14px;
    border-radius: 7px;
    padding: 0.6rem 1rem;
    background-color: #ffffff;
    width: 5.5rem;
    border: 1px solid #f3f3f3;
    bottom: 1.5rem;
}

.easeCon006{
    position: relative;
    border: 1px solid red;
    height: 15rem;
    width: 16.66%;
    border-radius: 7px;
    transition: 0.3s;
}

.easeCon006 h3{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
}

.btn-006{
    transition: 0.3s;
}

.btn-006:hover{
    background-color: #e2e2e2;
}

.easeCon007{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 22rem;
    padding: 1.3rem;
    border: 1px solid #cecece;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

.easeCon007-text{
    text-align: center;
}

.easeCon007-text p{
    text-align: center;
    font-size: 16px;
}

.easeCon007-text h3{
    font-size: 26px;
}

.easeCon007-text button{
    padding: 0.5rem;
    border-radius: 7px;
    background-color: white;
    border: 1px solid #333;
}

.easeCon007-text button:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}

.easeCon008{
    display: flex;
    border: 1px solid #333;
    border-radius: 7px;
    cursor: pointer;
}

.easeCon008-num{
    padding: 0.3rem 0.6rem;
    background-color: #ffc895;
    border-radius: 7px 0 0 7px;
    border-right: 1px solid #333;
}

.easeCon008-text{
    padding: 0.3rem 1rem;
}

.conHomepage008{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.7rem;
}